@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
/*====================
メディアクエリ
====================*/
body {
  color: #3E3E3E;
  background: #f3f3f3;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.2222222222;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.btn {
  text-align: center;
  margin-top: 38px;
}
.btn a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: 4px;
  display: inline-block;
  padding: 20px 77px;
  color: #3E3E3E;
  border: 1px solid #3E3E3E;
  background: transparent;
}
@media (max-width: 767px) {
  .btn a {
    padding: 16px 100px;
  }
}
.btn a:hover {
  color: #fff;
  background: #3E3E3E;
  text-decoration: none;
}

.btn-section {
  -moz-text-align-last: left;
       text-align-last: left;
}
.btn-section a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 76px;
  line-height: 1.125;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .btn-section a {
    padding: 15px 96px;
    font-size: 18px;
  }
}
.btn-section a:hover {
  color: #3E3E3E;
  border: 1px solid #3E3E3E;
  background: #fff;
  text-decoration: none;
}

.btn-contact {
  margin-top: 36px;
}
.btn-contact a {
  font-weight: bold;
  display: inline-block;
  padding: 16px 32px;
  color: #fff;
  background: #FFAA3B;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.btn-contact a:hover {
  background: #F18900;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  text-decoration: none;
}
.btn-contact.is-disabled {
  background: #B2B2B2;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}

/*====================
header
====================*/
.header {
  background: rgba(255, 255, 255, 0.1);
  height: 83px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media (max-width: 767px) {
  .header {
    height: 68px;
    position: fixed;
    background: #fff;
  }
}

.header__inner {
  height: inherit;
}

.header__left {
  font-size: 23px;
  font-weight: bold;
  line-height: 68px;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1200px) {
  .header__left {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header__left {
    display: none;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: inherit;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.4px;
  line-height: 1.1875;
}
.header__nav li:not(:first-child) {
  margin-left: 41px;
}
.header__nav li a {
  display: block;
  position: relative;
}
.header__nav li a:hover {
  opacity: 1;
  color: #3E3E3E;
}

/*====================
drawer
====================*/
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 200;
  display: none;
}
@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  top: 25px;
  right: 14px;
}
.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  background: #fff;
}
.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  background: #fff;
}

.drawer-icon__bars {
  width: 30px;
  height: 18px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 26px;
  height: 4px;
  background: #3E3E3E;
  top: 0;
  left: 4px;
  border-radius: 2px;
}

.drawer-icon__bar1 {
  top: 4px;
}

.drawer-icon__bar2 {
  top: 12px;
}

.drawer-icon__bar3 {
  top: 20px;
}

.drawer-content {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 199;
  background: #fff;
  -webkit-transform: translate(105%);
          transform: translate(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__items {
  padding-top: 145px;
}

.drawer-content__item a {
  font-family: "Montserrat", sans-serif;
  display: block;
  line-height: 1.1875;
  color: #3E3E3E;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 0 16px;
  position: relative;
  text-align: center;
}

.drawer-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  opacity: 0.6;
  z-index: 198;
  display: none;
}
.drawer-background.is-active {
  display: block;
}

/*====================
main-visual
====================*/
main {
  margin-top: -83px;
}
@media (max-width: 767px) {
  main {
    margin-top: 68px;
  }
}

/*====================
main-visual
====================*/
.main-visual {
  width: 100%;
  padding-top: 50.625%;
  background: url(../img/mv.png) no-repeat center left/contain;
  position: relative;
}
@media (max-width: 767px) {
  .main-visual {
    padding-top: 160%;
    background: url(../img/mv.png) no-repeat bottom 0% right 78%/352%;
  }
}

.main-visual__content {
  padding-top: 77px;
  padding-right: 40px;
  position: absolute;
  top: 50%;
}
@media (min-width: 1200px) {
  .main-visual__content {
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .main-visual__content {
    left: 30%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .main-visual__content {
    padding: 3px 16px;
    top: 25%;
  }
}

.main-visual__title {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.02px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .main-visual__title {
    font-size: 24px;
    line-height: 1.6666666667;
  }
}

.main-visual__subtitle {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 1.5555555556;
  margin-top: 27px;
}
@media (max-width: 767px) {
  .main-visual__subtitle {
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0;
    margin-top: 20px;
  }
}

.main-visual__contact {
  letter-spacing: 0.45px;
}
@media (max-width: 767px) {
  .main-visual__contact {
    margin-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-visual__contact a {
  font-size: 18px;
  padding: 13px 50px;
  line-height: 1.4444444444;
}
@media (max-width: 767px) {
  .main-visual__contact a {
    font-size: 16px;
    padding: 12px 30px;
    line-height: 1.5;
  }
}

/*====================
news
====================*/
.news__inner {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .news__inner {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  .news__inner {
    width: 91.4666666667%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    bottom: 40px;
    left: 0;
  }
}

.news__item {
  border-top: 1px solid #cecdcd;
}
.news__item:hover {
  background: rgba(73, 115, 255, 0.1);
}
.news__item:last-child {
  border-bottom: 1px solid #cecdcd;
}
@media (min-width: 1200px) {
  .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__item:first-child {
    padding: 37px 0;
  }
  .news__item:first-child .news__text {
    position: relative;
    bottom: 1px;
  }
  .news__item:not(:first-child) {
    padding: 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .news__item {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .news__item {
    padding: 10px 16px 8px;
    position: relative;
  }
  .news__item::after {
    content: "";
    width: 43px;
    height: 46px;
    background: url(../img/news-arrow.png) no-repeat center center/32%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.news__date {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.4444444444;
  letter-spacing: 0.45px;
}
@media (max-width: 767px) {
  .news__date {
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0.35px;
    padding-top: 3px;
  }
}

.news__title {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .news__title {
    margin-left: 23px;
  }
}
.news__title a {
  background: #fff;
  line-height: 1.8571428571;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding: 0 30px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .news__title a {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
    padding: 0 14px;
  }
}

.news__text {
  margin-left: auto;
  position: relative;
}
@media (min-width: 1200px) {
  .news__text {
    width: calc(100% - 260px);
    padding-right: 83px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .news__text {
    margin-top: 10px;
  }
}
.news__text a {
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 1.5555555556;
}
@media (min-width: 1200px) {
  .news__text a {
    padding-left: 11px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .news__text a {
    padding-right: 100px;
  }
}
@media (max-width: 767px) {
  .news__text a {
    font-size: 14px;
    line-height: 1.4285714286;
    margin-top: 8px;
    padding-right: 35px;
    letter-spacing: 0;
  }
}
.news__text::after {
  content: "";
  width: 43px;
  height: 46px;
  background: url(../img/news-arrow.png) no-repeat center center/25%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .news__text::after {
    display: none;
  }
}

.news__more {
  margin-top: 38px;
}
@media (max-width: 767px) {
  .news__more a {
    padding: 15px 96px;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 3.6px;
  }
}

/*====================
service
====================*/
.service {
  height: 400px;
  background: #3E3E3E;
}
@media (max-width: 767px) {
  .service {
    height: 480px;
    margin-top: 20px;
  }
}

.service__head {
  color: #fff;
}

.service__inner {
  width: 960px;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 60px 45px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .service__inner {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .service__inner {
    width: 91.4666666667%;
    padding: 40px 16px 35px;
  }
}

@media (min-width: 1200px) {
  .service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.service__item:first-child img {
  padding-top: 12px;
}
.service__item:not(:first-child) img {
  padding-top: 17px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .service__item:not(:first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .service__item:not(:first-child) {
    margin-top: 34px;
  }
}
@media (min-width: 1200px) {
  .service__item {
    width: 230px;
  }
}

.service__img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.service__img img {
  width: 78%;
  margin: auto;
}

.service__title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 4px;
  margin-top: 7px;
  margin-left: 4px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .service__title {
    line-height: 1.2;
    margin-top: 9px;
  }
}
@media (max-width: 767px) {
  .service__title {
    line-height: 1.2;
    margin-top: 9px;
  }
}

.service__text {
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 12px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .service__text {
    text-align: center;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .service__text {
    margin-top: 15px;
  }
}

/*====================
results
====================*/
.results {
  margin-top: 215px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .results {
    margin-top: 200px;
  }
}
@media (max-width: 767px) {
  .results {
    margin-top: 391px;
  }
}

.results__inner {
  background: #3E3E3E;
}
@media (min-width: 1200px) {
  .results__inner {
    padding: 60px 0;
    position: relative;
    top: 0;
    left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .results__inner {
    width: 100%;
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .results__inner {
    width: 100%;
    padding: 40px 0;
  }
}

.results__head {
  color: #fff;
  text-align: left;
  padding-top: 0;
  margin-left: 60px;
}
@media (max-width: 767px) {
  .results__head {
    text-align: center;
    margin-left: 0;
  }
}

.results__content {
  padding: 5px 16px 20px;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media (max-width: 767px) {
  .results__content {
    padding: 0 12px 8px;
  }
}

.results__title a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.01px;
}
@media (max-width: 767px) {
  .results__title a {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.results__text a {
  font-size: 16px;
  margin-top: 7px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .results__text a {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01px;
    margin-top: 4px;
  }
}

.results__btn {
  margin-left: 60px;
}
@media (max-width: 767px) {
  .results__btn {
    margin-top: -32px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.results__btn a {
  letter-spacing: 4px;
}
@media (max-width: 767px) {
  .results__btn a {
    line-height: 1.2777777778;
    letter-spacing: 3.6px;
  }
}

/*====================
swiper
====================*/
.swiper {
  margin-right: 0;
  position: relative;
  top: 0;
  left: 60px;
}
@media (max-width: 767px) {
  .swiper {
    left: 16px;
  }
}

.swiper-wrapper {
  padding-bottom: 100px;
}

.swiper-slide {
  background: #fff;
}

.swiper-pagination {
  text-align: left;
  margin-right: 0;
  bottom: 36px !important;
}
@media (max-width: 767px) {
  .swiper-pagination {
    bottom: 53px !important;
    left: 84px !important;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 16px !important;
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*====================
price
====================*/
.price {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .price {
    margin-top: 0;
  }
}

.price__table {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .price__table {
    width: calc(100% - 120px * 2);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .price__table {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .price__table {
    width: 100%;
  }
}
.price__table tr {
  height: 60px;
}
@media (max-width: 767px) {
  .price__table tr {
    height: 55px;
  }
}
.price__table tr:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.price__table tr:first-child th {
  border-top: 1px solid #707070;
}
.price__table tr:last-child th {
  border-bottom: 1px solid #707070;
}
.price__table th {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #3E3E3E;
  line-height: 1.2083333333;
  width: 262px;
  text-align: center;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}
@media (max-width: 767px) {
  .price__table th {
    font-size: 20px;
    line-height: 1.2;
    width: 100px;
  }
}
.price__table td {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2083333333;
  background: #fff;
  padding: 0 37px;
  border: 1px solid #707070;
}
@media (max-width: 767px) {
  .price__table td {
    font-size: 20px;
    line-height: 1.2;
    padding: 0 18px;
  }
}

.price__comment {
  font-size: 12px;
  line-height: 1.6666666667;
  margin: 8px auto 0;
}
@media (min-width: 1200px) {
  .price__comment {
    width: calc(100% - 160px * 2);
    letter-spacing: -1px;
  }
}
@media (max-width: 767px) {
  .price__comment {
    margin-top: 4px;
  }
}

/*====================
comments
====================*/
.comments {
  margin-top: 262px;
  position: relative;
}
@media (max-width: 767px) {
  .comments {
    margin-top: 116px;
  }
}

.comments__inner {
  position: absolute;
  left: 50%;
  bottom: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 1200px) {
  .comments__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  .comments__inner {
    bottom: 60px;
  }
}

.comments__items {
  background: #fff;
  padding: 120px 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 534px);
          flex: 0 0 calc(100% - 534px);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
}
@media (max-width: 767px) {
  .comments__items {
    padding: 42px 20px 38px;
  }
}

.comments__head {
  padding-top: 0;
  text-align: left;
}

.comments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments__item + .comments__item {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .comments__item + .comments__item {
    margin-top: 38px;
  }
}

.comments__human-img img {
  width: 100px;
}
@media (max-width: 767px) {
  .comments__human-img img {
    width: 60px;
  }
}

.comments__text {
  margin-left: 32px;
  margin-top: -4px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .comments__text {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.comments__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 534px;
          flex: 0 0 534px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comments__img {
    display: none;
  }
}
@media (max-width: 767px) {
  .comments__img {
    display: none;
  }
}
.comments__bg {
  width: calc(100% - 300px);
  height: 576px;
  background: #3E3E3E;
}
@media (max-width: 767px) {
  .comments__bg {
    width: 100%;
    height: 426px;
  }
}

/*====================
faqs
====================*/
.faqs {
  padding-bottom: 120px;
  background: url(../img/qa-bg.png) no-repeat fixed center center/cover;
}
@media (max-width: 767px) {
  .faqs {
    padding-bottom: 60px;
    background: url(../img/qa-bg.png) no-repeat fixed right 42% center/cover;
  }
}

.faqs__head {
  padding-bottom: 1px;
}

.faqs__items {
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .faqs__items {
    width: calc(100% - 49%);
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .faqs__items {
    margin-top: 40px;
  }
}

.faqs__item {
  padding: 16px;
  background: #fff;
  border-radius: 4px;
}
.faqs__item:not(:first-child) {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .faqs__item:not(:first-child) {
    margin-top: 24px;
  }
}
.faqs__item:nth-child(2) {
  padding: 14px 16px 16px;
}
.faqs__item:nth-child(2) .faqs__a {
  margin-top: 14px;
}
@media (max-width: 767px) {
  .faqs__item:first-child .faqs__icon {
    bottom: 4px;
  }
}

.faqs__q {
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faqs__q span {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #3B69FF;
  border-radius: 50%;
  margin-right: 16px;
}

.faqs__icon {
  width: 15px;
  height: 15px;
  margin-left: auto;
  position: relative;
}
.faqs__icon.is-open .faqs__bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faqs__bar1 {
  width: 100%;
  height: 3px;
  background: #3B69FF;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faqs__bar2 {
  width: 3px;
  height: 100%;
  background: #3B69FF;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faqs__a {
  margin-top: 16px;
  display: none;
}

.faq__content {
  line-height: 1.5;
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
@media (max-width: 767px) {
  .faq__content {
    font-size: 14px;
    line-height: 1.4285714286;
    padding: 9px 12px;
  }
}

.open {
  display: block;
}

.hide {
  display: none;
}

/*====================
access
====================*/
.access {
  position: relative;
}
@media (min-width: 1200px) {
  .access {
    padding-bottom: 256px;
  }
}

.access__bg {
  height: 504px;
  background: #3E3E3E;
}
@media (min-width: 1200px) {
  .access__bg {
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .access__bg {
    height: 900px;
  }
}
@media (max-width: 767px) {
  .access__bg {
    height: 574px;
  }
}

.access__inner {
  position: absolute;
  top: 60px;
  left: 50%;
}
@media (min-width: 1200px) {
  .access__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .access__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .access__inner {
    top: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .access__inner {
    top: 0;
    left: 0;
  }
}

.access__content {
  color: #fff;
}
@media (min-width: 1200px) {
  .access__content {
    margin-left: 60px;
  }
}

.access__head {
  -moz-text-align-last: left;
       text-align-last: left;
  padding-bottom: 57px;
}
@media (max-width: 767px) {
  .access__head {
    padding-bottom: 38px;
  }
}

.access__address {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .access__address {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.access__map-btn {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 28px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .access__map-btn {
    position: relative;
    top: 258px;
  }
}
@media (max-width: 767px) {
  .access__map-btn a {
    line-height: 1.25;
    letter-spacing: 1.8px;
    padding: 15px 99px;
  }
}

@media (min-width: 1200px) {
  .access__map {
    margin-top: 60px;
    width: 60.5%;
    max-width: 100%;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .access__map {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .access__map {
    position: relative;
    bottom: 62px;
  }
}

.iframe__wrap {
  width: 100%;
  padding-top: 71.6253443526%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .iframe__wrap {
    padding-top: 50%;
  }
}
@media (max-width: 767px) {
  .iframe__wrap {
    padding-top: 70.2623906706%;
  }
}
.iframe__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*====================
contact
====================*/
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .contact__inner {
    width: calc(100% - 160px * 2);
  }
}

.contact__head-wrapper {
  padding: 60px 0 57px;
  background: url(../img/contact1.png) no-repeat center center/cover;
  color: #fff;
  border-radius: 12px 12px 0 0;
}
@media (max-width: 767px) {
  .contact__head-wrapper {
    padding: 41px 17px 39px;
  }
}

.contact__head {
  padding: 0;
}

.contact__subtitle {
  margin-top: 9px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .contact__subtitle {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .contact__subtitle {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.contact__form {
  background: #fff;
  margin: 0 auto;
  padding: 57px 120px 60px;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 767px) {
  .contact__form {
    padding: 36px 12px 38px;
  }
}

.contact-form__row:not(:first-child) {
  margin-top: 23px;
}
@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 28px;
  }
}
.contact-form__row:not(:first-child) .contact-form__label {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .contact-form__row:not(:first-child):not(:last-child) .contact-form__input {
    width: calc(100% - 188px);
  }
}
.contact-form__row:first-child .contact-form__input {
  position: relative;
}
.contact-form__row:first-child .contact-form__input::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: bold;
  color: #3E3E3E;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .contact-form__row:first-child .contact-form__input::after {
    top: 60%;
  }
}
.contact-form__row:nth-child(-n+3) .contact-form__label span {
  position: relative;
}
.contact-form__row:nth-child(-n+3) .contact-form__label span::after {
  content: "必須";
  padding: 0 7px;
  height: 16px;
  font-size: 12px;
  color: #fff;
  background: #FF4646;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .contact-form__row:nth-child(-n+3) .contact-form__label span::after {
    right: -7px;
  }
}
.contact-form__row:last-child .contact-form__label {
  margin-top: 23px;
}
@media (max-width: 767px) {
  .contact-form__row:last-child {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .contact-form__row:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-form__label {
  width: 188px;
  white-space: nowrap;
  font-weight: bold;
  line-height: 1.5;
}
.contact-form__label span {
  display: inline-block;
  padding-right: 52px;
  position: relative;
}

.contact-form__input [type=text],
.contact-form__input [type=email],
.contact-form__input [type=radio],
.contact-form__input textarea {
  padding: 14px 12px 2px;
}
@media (max-width: 767px) {
  .contact-form__input [type=text],
.contact-form__input [type=email],
.contact-form__input [type=radio],
.contact-form__input textarea {
    font-size: 14px;
    padding: 9px 0 0;
  }
}
.contact-form__input select {
  border: 1px solid #707070;
  padding: 12px 37px 12px 11px;
}
@media (max-width: 767px) {
  .contact-form__input select {
    font-size: 14px;
    margin-top: 11px;
    padding: 11px 37px 11px 11px;
  }
}
.contact-form__input textarea {
  margin-top: 4px;
  border: 1px solid #707070;
  height: 200px;
}
@media (max-width: 767px) {
  .contact-form__input textarea {
    margin-top: 12px;
    height: 160px;
  }
}

.contact-form__radio {
  margin-top: 27px;
}
@media (max-width: 767px) {
  .contact-form__radio {
    margin-top: 29px;
  }
}
.contact-form__radio .contact-form__input [type=radio] {
  display: none;
}
.contact-form__radio .contact-form__input span {
  padding-left: 20px;
  margin-right: 35px;
  position: relative;
}
.contact-form__radio .contact-form__input span::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #3E3E3E;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-form__radio .contact-form__input span::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
.contact-form__radio .contact-form__input [type=radio]:checked + span::after {
  display: block;
}
@media (max-width: 767px) {
  .contact-form__radio .contact-form__input {
    margin-top: 8px;
  }
}
@media (min-width: 1200px) {
  .contact-form__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-form__check {
  margin-top: 31px;
}
@media (max-width: 767px) {
  .contact-form__check {
    margin-top: 21px;
  }
}
.contact-form__check [type=checkbox] {
  display: none;
}
.contact-form__check span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25;
  display: inline-block;
  padding-left: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .contact-form__check span {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 38px;
  }
}
.contact-form__check span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .contact-form__check span::before {
    width: 18px;
    height: 18px;
  }
}
.contact-form__check span::after {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../img/checked.png) no-repeat center center/contain;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
.contact-form__check [type=checkbox]:checked + span::after {
  display: block;
}

@media (max-width: 767px) {
  .contact-form__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.contact-form__button [type=submit] {
  width: 173px;
  margin-top: 39px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4444444444;
  letter-spacing: 0.45px;
  display: inline-block;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .contact-form__button [type=submit] {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.625;
    width: 165px;
  }
}
.contact-form__button [type=submit]:disabled {
  background: #B2B2B2;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}

#js-submit.is-active {
  background: #FFAA3B;
}
#js-submit.is-active:hover {
  background: #F18900;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}

.contact__success,
.contact__error {
  text-align: center;
  display: none;
}

.contact__error {
  color: #FF4646;
}

/*====================
footer
====================*/
.footer {
  background: #3E3E3E;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer__inner {
    width: calc(100% - 160px * 2);
  }
}

@media (min-width: 1200px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__sns-items {
  color: #fff;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .footer__sns-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__sns-item + .footer__sns-item {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .footer__sns-item + .footer__sns-item {
    margin-left: 50px;
  }
}
.footer__sns-item img {
  width: 36px;
}

.fa-size__twitter {
  font-size: 36px;
}

.footer__link-items {
  color: #fff;
  margin-top: 33px;
}
@media (max-width: 767px) {
  .footer__link-items {
    margin-top: 35px;
  }
}

.footer__link-item {
  line-height: 1.625;
  letter-spacing: 0.4px;
}
.footer__link-item + .footer__link-item {
  margin-top: 14px;
}
@media (max-width: 767px) {
  .footer__link-item {
    text-align: center;
    font-size: 14px;
    line-height: 1.8571428571;
    letter-spacing: 0.35px;
  }
}

.footer__right {
  margin-left: auto;
}

.footer__logo {
  font-family: "Montserrat", sans-serif;
  color: #E3E3E3;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.75;
  margin-top: -10px;
}
@media (max-width: 767px) {
  .footer__logo {
    text-align: center;
    font-size: 32px;
    line-height: 2.40625;
    margin-top: 15px;
  }
}

.footer__copyright {
  color: #fff;
  margin-top: -1px;
  text-align: right;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .footer__copyright {
    text-align: center;
    margin-top: -8px;
    margin-right: 12px;
  }
}

/*====================
to-top
====================*/
.to-top {
  position: fixed;
  right: 40px;
  bottom: 36px;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 8px;
  }
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top img {
  width: 50px;
}

.table {
  width: 100%;
  background: #fff;
  font-weight: bold;
  border: 1px solid #707070;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}
.table th {
  text-align: center;
  color: #fff;
  background: #999999;
}
.table th:nth-child(1) {
  width: 170px;
}
@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}
.table td {
  text-align: right;
}
.table strong {
  color: #E81919;
  line-height: 1.2;
}
.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
}