$color-main: #3E3E3E;
$color-blue: #3B69FF;
$color-red: #FF4646;
$color-orange: #FFAA3B;
$color-orange-hover: #F18900;
$color-gray: #B2B2B2;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

/*====================
メディアクエリ
====================*/

$layout-width-inner: 1200px;

//ブレイクポイント
$breakpoints: (
  "sp": "(max-width: 767px)", //767px以下（スマホ）用の表示
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner})", //768px以上（タブレット・PC）用の表示
  "pc": "(min-width: #{$layout-width-inner})", //1201px以上（PC）用の表示
);

//メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

body {
  color: $color-main;
  background: rgba(243, 243, 243, 1);
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq('tab') {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }

  @include mq('sp') {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  @include mq('sp') {
    padding-top: 0;
    padding-bottom: 0; 
  }
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: (44 / 36);
  @include mq('sp') {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.btn {
  text-align: center;
  margin-top: 38px;
  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: (22.5 / 20);
    letter-spacing: 4px;
    display: inline-block;
    padding: 20px 77px;
    color: $color-main;
    border: 1px solid $color-main;
    background: transparent;
    
    @include mq('sp') {
      padding: 16px 100px;
    }
  }
  a:hover {
    color: #fff;
    background: $color-main;
    text-decoration: none;
  }
}

.btn-section {
  text-align-last: left;
  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 76px;
    line-height: (22.5 / 20);
    color: #fff;
    border: 1px solid #fff;

    @include mq('sp') {
      padding: 15px 96px;
      font-size: 18px;
    }
  }
  a:hover {
    color: $color-main;
    border: 1px solid $color-main;
    background: #fff;
    text-decoration: none;
  }
}

.btn-contact {
  margin-top: 36px;
  a {
    font-weight: bold;
    display: inline-block;
    padding: 16px 32px;
    color: #fff;
    background: $color-orange;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  a:hover {
    background: $color-orange-hover;
    box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
    text-decoration: none;
  }
  &.is-disabled {
    background: $color-gray;
    box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  }
}

/*====================
header
====================*/
.header {
  background: rgba(255, 255, 255, 0.1);
  height: 83px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include mq('sp') {
    height: 68px; 
    position: fixed;
    background: #fff;
  }
}

.header__inner {
  height: inherit;
}

.header__left {
  font-size: 23px;
  font-weight: bold;
  line-height: 68px;
  font-family: 'Montserrat', sans-serif;

  @include mq('pc') {
    display: none;
  }

  @include mq('tab') {
    display: none;
  }

  @include mq('sp') {
    
  }

}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: inherit;
  @include mq('sp') {
    display: none;
  }

  li {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.4px;
    line-height: (19 / 16);
    &:not(:first-child) {
      margin-left: 41px;
    }
    a {
      display: block;
      position: relative;
      &:hover {
        opacity: 1;
        color: $color-main;
      }
      // &.is-active {
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     bottom: -8px;
      //     left: 0;
      //     width: 100%;
      //     height: 2px;
      //     background: #fff;
      //   }
      // }
    }
  }
}

/*====================
drawer
====================*/

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 200;
  display: none;
  @include mq('sp') {
    display: block;
  }
  
  &.is-active {
    transform: translateX(-300px);
    transition: transform 0.5s ease 0s;
    top: 25px;
    right: 14px;

    .drawer-icon__bar1 {
      transform: rotate(-45deg);
      top: 8px;
      background: #fff;
    }
    
    .drawer-icon__bar2 {
      display: none;
      
    }
    
    .drawer-icon__bar3 {
      transform: rotate(45deg);
      top: 8px;
      background: #fff;
    }
  }
}

.drawer-icon__bars {
  width: 30px;
  height: 18px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 26px;
  height: 4px;
  background: $color-main;
  top: 0;
  left: 4px;
  border-radius: 2px;
}

.drawer-icon__bar1 {
  top: 4px;
  
}

.drawer-icon__bar2 {
  top: 12px;
  
}

.drawer-icon__bar3 {
  top: 20px;

}

.drawer-content {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 199;
  background: #fff;
  // box-shadow: 0 0 3px rgba(#000, 0.16);
  transform: translate(105%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateX(0);
  }
}

.drawer-content__items {
  padding-top: 145px;
}

.drawer-content__item {
  // border-bottom: 1px dotted #707070;
  a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    line-height: (19 / 16);
    color: $color-main;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 0 16px;
    position: relative;
    text-align: center;
  }
}

.drawer-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $color-main;
  opacity: 0.6;
  z-index: 198;
  display: none;

  &.is-active {
    display: block;
  }
}

/*====================
main-visual
====================*/

main {
  margin-top: -83px;

  @include mq('sp') {
    margin-top: 68px;
  }
}

/*====================
main-visual
====================*/

.main-visual {
  width: 100%;
  padding-top: 50.625%;
  background: url(../img/mv.png) no-repeat center left/contain;
  position: relative;
  
  @include mq('sp') {
    padding-top: 160%;
    background: url(../img/mv.png) no-repeat bottom 0% right 78%/352%;
  }

}

.main-visual__content {
  padding-top: 77px;
  padding-right: 40px;
  position: absolute;
  top: 50%;
  @include mq('pc') {
    left: 50%;
    transform: translateY(-50%);
  }
  @include mq('tab') {
    left: 30%;
    transform: translateY(-50%);
  }
  @include mq('sp') {
    padding: 3px 16px;
    top: 25%;
  }
}

.main-visual__title {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.02px;
  line-height: (48 / 32);

  @include mq('sp') {
    font-size: 24px;
    line-height: (40 / 24);
  }
}

.main-visual__subtitle {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: (28 / 18);
  margin-top: 27px;

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    letter-spacing: 0;
    margin-top: 20px;
  }
}

.main-visual__contact {
  letter-spacing: 0.45px;

  @include mq('sp') {
    margin-top: 28px;
    display: flex;
    justify-content: center;
  }

  a {
    font-size: 18px;
    padding: 13px 50px;
    line-height: (26 / 18);

    @include mq('sp') {
      font-size: 16px;
      padding: 12px 30px;
      line-height: (24 / 16);
    }
  }
}


/*====================
news
====================*/

.news {
}

.news__inner {
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding-bottom: 40px;
  
  @include mq('pc') {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include mq('sp') {
    width: 91.4666666667%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    bottom: 40px;
    left: 0;
  }
}

.news__head {

}

.news__items {

}

.news__item {
  border-top: 1px solid rgba(206, 205, 205, 1);

  &:hover {
    background: rgba(73, 115, 255, 0.1);
  }
  
  &:last-child {
    border-bottom: 1px solid rgba(206, 205, 205, 1);
  }

  @include mq('pc') {
    display: flex;
    align-items: center;

    &:first-child {
      padding: 37px 0;

      .news__text {
        position: relative;
        bottom: 1px;
      }
    }

    &:not(:first-child) {
      padding: 40px 0;
    }
  }

  @include mq('tab') {
    padding: 20px;
  }

  @include mq('sp') {
    padding: 10px 16px 8px;
    position: relative;

    &::after {
      content: "";
      width: 43px;
      height: 46px;
      background: url(../img/news-arrow.png) no-repeat center center / 32%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.news__meta {
  display: flex;
  align-items: center;
  width: 300px;
}

.news__date {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: (26 / 18);
  letter-spacing: 0.45px;

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    letter-spacing: 0.35px;
    padding-top: 3px;
  }
}

.news__title {
  margin-left: 40px;
  
  @include mq('sp') {
    margin-left: 23px; 
  }
  
  a {
    background: #fff;
    line-height: (26 / 14);
    font-size: 14px;
    letter-spacing: 0.35px;
    padding: 0 30px;
    border: 2px solid $color-blue;
    border-radius: 50px;

    @include mq('sp') {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.3px;
      padding: 0 14px;
    }
  }
}

.news__text {
  margin-left: auto;
  position: relative;

  @include mq('pc') {
    width: calc(100% - 260px);
    padding-right: 83px;
  }

  @include mq('tab') {
    margin-top: 10px;
  }

  a {
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: (28 / 18);
    
    @include mq('pc') {
      padding-left: 11px;
    }

    @include mq('tab') {
      padding-right: 100px;
    }

    @include mq('sp') {
      font-size: 14px;
      line-height: (20 / 14);
      margin-top: 8px;
      padding-right: 35px;
      letter-spacing: 0;
    }

  }

  &::after {
    content: "";
    width: 43px;
    height: 46px;
    background: url(../img/news-arrow.png) no-repeat center center / 25%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include mq('sp') {
     display: none; 
    }
  }
}

.news__more {
  margin-top: 38px;
  a {
    @include mq('sp') {
      padding: 15px 96px;
      font-size: 18px;
      line-height: (22.5 / 18);
      letter-spacing: 3.6px;
    }
  }
}


/*====================
service
====================*/

.service {
  height: 400px;
  background: #3E3E3E;
  @include mq('sp') {
    height: 480px;
    margin-top: 20px;
  }
}

.service__head {
  color: #fff;
}

.service__inner {
  width: 960px;
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 60px 45px;
  @include mq('tab') {
    width: 80%;
  }
  @include mq('sp') {
    width: 91.4666666667%;
    padding: 40px 16px 35px;
  }
}

.service__items {
  @include mq('pc') {
    display: flex;
    justify-content: space-between;
  }
  @include mq('tab') {
    display: flex;
    justify-content: space-between;
  }

}

.service__item {
  &:first-child {
    img {
      padding-top: 12px;
    }
  }
  
  &:not(:first-child) {
    img {
      padding-top: 17px;
    }
    @include mq('tab') {
      margin-left: 40px;
    }
    @include mq('sp') {
      margin-top: 34px;
    }
  }
  
  @include mq('pc') {
    width: 230px;
  }

}

.service__img {
  width: 64px;
  height: 64px;
  margin: 0 auto;

  img {
    width: 78%;
    margin: auto;
    
  }
}

.service__title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: (28 / 20);
  letter-spacing: 4px;
  margin-top: 7px;
  margin-left: 4px;

  @include mq('tab') {
    line-height: (24 / 20);
    margin-top: 9px;
  }
  @include mq('sp') {
    line-height: (24 / 20);
    margin-top: 9px;
  }
}

.service__text {
  font-size: 14px;
  line-height: (24 / 14);
  margin-top: 12px;
  
  @include mq('tab') {
    text-align: center;
    margin-top: 15px;
  }
  @include mq('sp') {
    margin-top: 15px;
  }
}

/*====================
results
====================*/

.results {
  margin-top: 215px;
  overflow: hidden;

  @include mq('tab') {
    margin-top: 200px;
  }
  @include mq('sp') {
    margin-top: 391px;
  }
}

.results__inner {
  background: $color-main;
  
  @include mq('pc') {
    padding: 60px 0;
    position: relative;
    top: 0;
    left: 40px;
  }

  @include mq('tab') {
    width: 100%;
    padding: 40px 0;
  }

  @include mq('sp') {
    width: 100%;
    padding: 40px 0;
  }
}

.results__head {
  color: #fff;
  text-align: left;
  padding-top: 0;
  margin-left: 60px;

  @include mq('sp') {
    text-align: center;
    margin-left: 0;
  }
}

.results__img {
  a {

  }
  img {

  }
}

.results__content {
  padding: 5px 16px 20px;
  text-align-last: left;

  @include mq('sp') {
    padding: 0 12px 8px;
  }
}

.results__title {
  a {
    font-size: 20px;
    font-weight: bold;
    line-height: (24 / 20);
    letter-spacing: 0.01px;

    @include mq('sp') {
      font-size: 14px;
      line-height: (16 / 14);
    }
  }
}

.results__text {
  a {
    font-size: 16px;
    margin-top: 7px;
    line-height: (24 / 16);

    @include mq('sp') {
      font-size: 12px;
      line-height: (18 / 12);
      letter-spacing: 0.01px;
      margin-top: 4px;
    }
  }
}

.results__btn {
  margin-left: 60px;

  @include mq('sp') {
    margin-top: -32px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  a {
    letter-spacing: 4px;

    @include mq('sp') {
      line-height: (23 / 18);
      letter-spacing: 3.6px;
    }
  }
}

/*====================
swiper
====================*/

.swiper {
  margin-right: 0;
  position: relative;
  top: 0;
  left: 60px;

  @include mq('sp') {
    left: 16px;
  }
}

.swiper-wrapper {
  padding-bottom: 100px;
}

.swiper-slide {
  background: #fff;
  
}

.swiper-pagination {
  text-align: left;
  margin-right: 0;
  bottom: 36px!important;
  
  @include mq('sp') {
    bottom: 53px!important;
    left: 84px!important;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;

  & + & {
    margin-left: 16px!important;
  }
}

.swiper-pagination-bullet-active {
  position: relative;

  &::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
  }

}


/*====================
price
====================*/

.price {
  margin-top: 60px;

  @include mq('sp') {
    margin-top: 0;
  }
}

.price__inner {

}

.price__head {

}

.price__content {

}

.price__table {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  
  @include mq('pc') {
    width: calc(100% - 120px * 2);
  }
  
  @include mq('tab') {
    width: 100%;
  }
  @include mq('sp') {
    width: 100%;
  }

  tr {
    height: 60px;

    @include mq('sp') {
      height: 55px;
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid #fff;
    }

    &:first-child {
      th {
        border-top: 1px solid #707070;
      }
    }
    
    &:last-child {
      th {
        border-bottom: 1px solid #707070;
      }
    }
  }

  th,td {
  }
  
  th {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: $color-main;
    line-height: (29 / 24);
    width: 262px;
    text-align: center;
    border-right: 1px solid #707070;
    border-left: 1px solid #707070;
    
    @include mq('sp') {
      font-size: 20px;
      line-height: (24 / 20);
      width: 100px;
    }
  }
  
  td {
    font-size: 24px;
    font-weight: bold;
    line-height: (29 / 24);
    background: #fff;
    padding: 0  37px;
    border: 1px solid #707070;
    
    @include mq('sp') {
      font-size: 20px;
      line-height: (24 / 20);
      padding: 0 18px;
    }
  }
}

.price__comment {
  font-size: 12px;
  line-height: (20 / 12);
  margin: 8px auto 0;
  
  @include mq('pc') {
    width: calc(100% - 160px * 2);
    letter-spacing: -1px;
  }

  @include mq('sp') {
    margin-top: 4px;
  }
}

/*====================
comments
====================*/

.comments {
  margin-top: 262px;
  position: relative;

  @include mq('sp') {
    margin-top: 116px;
  }
}

.comments__inner {
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);

  @include mq('pc') {
    display: flex;
    align-items: center;
  }

  @include mq('tab') {
    
  }

  @include mq('sp') {
    bottom: 60px;
  }
}

.comments__items {
  background: #fff;
  padding: 120px 60px;
  flex: 0 0 calc(100% - 534px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  
  @include mq('sp') {
    padding: 42px 20px 38px;
  }
}

.comments__head {
  padding-top: 0;
  text-align: left;
}

.comments__item { 
  display: flex;
  & + & {
    margin-top: 60px;

    @include mq('sp') {
      margin-top: 38px;
    }
  }
}

.comments__human-img {
  img {
    width: 100px;

    @include mq('sp') {
      width: 60px;
    }
  }
}

.comments__text {
  margin-left: 32px;
  margin-top: -4px;
  line-height: (24 / 16);

  @include mq('sp') {
    margin-left: 20px;
    font-size: 14px;
    line-height: (20 / 14);
  }
}

.comments__img {
  flex: 0 0 534px;

  @include mq('tab') {
    display: none;
  }
  @include mq('sp') {
    display: none;
  }
  img {
    
  }
}

.comments__bg {
  width: calc(100% - 300px);
  height: 576px;
  background: $color-main;

  @include mq('sp') {
    width: 100%;
    height: 426px;
  }
}

/*====================
faqs
====================*/

.faqs {
  padding-bottom: 120px;
  background: url(../img/qa-bg.png) no-repeat fixed center center/cover;
  
  @include mq('sp') {
    padding-bottom: 60px;
    background: url(../img/qa-bg.png) no-repeat fixed right 42% center/cover;
  }
}

.faqs__inner {

}

.faqs__head {
  padding-bottom: 1px;
}

.faqs__items {
  margin-top: 60px;

  @include mq('pc') {
    width: calc(100% - 49%);
    margin-left: auto;
  }

  @include mq('sp') {
    margin-top: 40px;
  }
}

.faqs__item {
  padding: 16px;
  background: #fff;
  border-radius: 4px;

  &:not(:first-child) {
    margin-top: 32px;

    @include mq('sp') {
      margin-top: 24px;
    }
  }

  &:nth-child(2) {
    padding: 14px 16px 16px;

    .faqs__a {
      margin-top: 14px;
    }
  }


  &:first-child {
    .faqs__icon {
      @include mq('sp') {
        bottom: 4px;
      }
    }
  }
}

.faqs__box {


}

.faqs__q {
  font-weight: bold;
  line-height: (24 / 16);
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;

  span {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: $color-blue;
    border-radius: 50%;
    margin-right: 16px;
  }
}

.faqs__icon {
  width: 15px;
  height: 15px;
  margin-left: auto;
  position: relative;

  &.is-open {
    .faqs__bar2 {
      transform: rotate(90deg);
    }
  }
}

.faqs__bar1 {
  width: 100%;
  height: 3px;
  background: $color-blue;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.faqs__bar2 {
  width: 3px;
  height: 100%;
  background: $color-blue;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}

.faqs__a {
  margin-top: 16px;
  display: none;
}

.faq__content {
  line-height: (24 / 16);
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    padding: 9px 12px;
  }
}

.open {
  display: block;
}

.hide {
  display: none;
}

/*====================
access
====================*/

.access {
  position: relative;
  
  @include mq('pc') {
    padding-bottom: 256px;
  }

  
}

.access__bg {
  height: 504px;
  background: $color-main;
  
  @include mq('pc') {
    width: calc(100% - 300px);
  }
  @include mq('tab') {
    height: 900px;
  }
  @include mq('sp') {
    height: 574px;
  }
}

.access__inner {
  position: absolute;
  top: 60px;
  left: 50%;
  
  @include mq('pc') {
    display: flex;
    transform: translateX(-50%);
  }
  @include mq('pc') {
    display: flex;
    transform: translateX(-50%);
  }

  @include mq('tab') {
    top: 0;
    left: 0;
  }
  @include mq('sp') {
    top: 0;
    left: 0;
  }
}

.access__content {
  color: #fff;
  
  @include mq('pc') {
    margin-left: 60px;
  }
}

.access__head {
  text-align-last: left;
  padding-bottom: 57px;

  @include mq('sp') {
    padding-bottom: 38px;
  }
}

.access__address {
  line-height: (24 / 16);
  
  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
  }
}


.access__map-btn {
  text-align-last: left;
  margin-top: 28px;
  letter-spacing: 2px;

  @include mq('sp') {
    position: relative;
    top: 258px;
  }

  a {
    @include mq('sp') {
      line-height: (22.5 / 18);
      letter-spacing: 1.8px;
      padding: 15px 99px;
    }
  }
}

.access__map {
  
  @include mq('pc') {
    margin-top: 60px;
    width: 60.5%;
    max-width: 100%;
    margin-left: auto;
  }

  @include mq('tab') {
    margin-top: 50px;
  }

   @include mq('sp') {
     position: relative;
     bottom: 62px;
   }
}

.iframe__wrap {
  width: 100%;
  padding-top: 71.6253443526%;
  position: relative;

  @include mq('tab') {
    padding-top: 50%;
  }
  
  @include mq('sp') {
    padding-top: 70.2623906706%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*====================
contact
====================*/

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;

  @include mq('sp') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.contact__inner {
  @include mq('pc') {
    width: calc(100% - 160px * 2);
  }
}

.contact__head-wrapper {
  padding: 60px 0 57px;
  background: url(../img/contact1.png) no-repeat center center/cover;
  color: #fff;
  border-radius: 12px 12px 0 0;

  @include mq('sp') {
    padding: 41px 17px 39px;
  }
}

.contact__head {
  padding: 0;
}

.contact__subtitle {
  margin-top: 9px;
  line-height: (24 / 16);
  
  @include mq('pc') {
    text-align: center;
  }

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
  }
}

.contact__form {
  background: #fff;
  margin: 0 auto;
  padding: 57px 120px 60px;
  border-radius: 0 0 12px 12px;
  
  @include mq('sp') {
    padding: 36px 12px 38px;
  }
}

.contact-form {
  
}

.contact-form__dl {

}

.contact-form__row {

  &:not(:first-child) {
    margin-top: 23px;

    @include mq('sp') {
      margin-top: 28px;
    }

    .contact-form__label {
      margin-top: 10px;
    }
  }
  &:not(:first-child):not(:last-child) {
    .contact-form__input {
      
      @include mq('pc') {
        width: calc(100% - 188px);
      }
    }
  }
  &:first-child {
    .contact-form__input {
      position: relative;

      &::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        font-weight: bold;
        color: $color-main;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        @include mq('sp') {
          top: 60%;
        }
      }
    }
  }

  &:nth-child(-n + 3) {
    .contact-form__label {
      span {
        position: relative;

        &::after {
          content: "必須";
          padding: 0 7px;
          height: 16px;
          font-size: 12px;
          color: #fff;
          background: $color-red;
          border-radius: 2px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          @include mq('sp') {
            right: -7px;
          }
        }
      }
    }
  }

  &:last-child {
    .contact-form__label {
      margin-top: 23px;
    }
    
    @include mq('sp') {
      margin-top: 0;
    }
  }


  @include mq('pc') {
    &:not(:last-child) {
      display: flex;
      align-items: center;
    }
  }

}


.contact-form__label {
  width: 188px;
  white-space: nowrap;
  font-weight: bold;
  line-height: (24 / 16);
  
  span {
    display: inline-block;
    padding-right: 52px;
    position: relative;
  }
}

.contact-form__input {

  [type="text"],
  [type="email"],
  [type="radio"],
  textarea {
    padding: 14px 12px 2px; 

    @include mq('sp') {
      font-size: 14px;
      padding: 9px 0 0;
    }
  }
  
  [type="text"] {
    
  }

  [type="email"] {
    
  }

  select {
    border: 1px solid #707070;
    padding: 12px 37px 12px 11px;
    
    @include mq('sp') {
      font-size: 14px;
      margin-top: 11px;
      padding: 11px 37px 11px 11px;
    }
  }
  
  textarea {
    margin-top: 4px;
    border: 1px solid #707070;
    height: 200px;

    @include mq('sp') {
      margin-top: 12px;
      height: 160px;
    }
  }
  
}

.contact-form__radio {
  margin-top: 27px;

  @include mq('sp') {
    margin-top: 29px;
  }

  .contact-form__input {
    [type="radio"] {
      display: none;
    }
    span {
      padding-left: 20px;
      margin-right: 35px;
      position: relative;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border: 1px solid $color-main;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        width: 6px;
        height: 6px;
        background: $color-blue;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
    }

    [type="radio"]:checked + span {
      &::after {
        display: block;
      }
    }

    @include mq('sp') {
      margin-top: 8px;
    }
  }

  @include mq('pc') {
    display: flex;
  }
}

.contact-form__check {
  margin-top: 31px;

  @include mq('sp') {
    margin-top: 21px;
  }
  [type="checkbox"] {
    display: none;
  }

  span {
    font-size: 18px;
    font-weight: bold;
    line-height: (22.5 / 18);
    display: inline-block;
    padding-left: 40px;
    position: relative;

    @include mq('sp') {
      font-size: 16px;
      line-height: (24 / 16);
      padding-left: 38px;
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include mq('sp') {
        width: 18px;
        height: 18px;
      }
    }
    
    &::after {
      content: "";
      width: 17px;
      height: 17px;
      background: url(../img/checked.png) no-repeat center center / contain;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
  }

  [type="checkbox"]:checked + span {
    &::after {
      display: block;
    }
  }
}

.contact-form__button {

  @include mq('sp') {
    display: flex;
    justify-content: center;
  }

  [type="submit"] {
    width: 173px;
    margin-top: 39px;
    font-size: 18px;
    font-weight: bold;
    line-height: (26 / 18);
    letter-spacing: 0.45px;
    display: inline-block;
    padding: 12px;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    @include mq('sp') {
      margin-top: 30px;
      font-size: 16px;
      line-height: (26 / 16);
      width: 165px;
    }
    
    &:disabled {
      background: $color-gray;
      box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
    }
  }
}

#js-submit {
  &.is-active {
    background: $color-orange;
    
    &:hover {
      background: $color-orange-hover;
      box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
    }
  }
}

.contact__success,
.contact__error {
  text-align: center;
  display: none;
}

.contact__error {
  color: $color-red;
}


/*====================
footer
====================*/

.footer {
  background: $color-main;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__inner {
  @include mq('pc') {
    width: calc(100% - 160px * 2);
  }

  
}

.footer__content {
  @include mq('pc') {
    display: flex;
    align-items: flex-start;
  }
  @include mq('tab') {
    display: flex;
    align-items: flex-start;
  }
}

.footer__left {

}

.footer__sns-items {
  color: #fff;
  opacity: 0.6;
  display: flex;

  @include mq('sp') {
    justify-content: center;
  }
}

.footer__sns-item {
  & + & {
    margin-left: 32px;

    @include mq('sp') {
      margin-left: 50px;
    }
  }

  img {
    width: 36px;
  }
}

.fa-size__twitter {
  font-size: 36px;
}

.footer__link-items {
  color: #fff;
  margin-top: 33px;

  @include mq('sp') {
    margin-top: 35px;
  }
}

.footer__link-item {
  line-height: (26 / 16);
  letter-spacing: 0.4px;
  & + & {
    margin-top: 14px;
  }

  @include mq('sp') {
    text-align: center;
    font-size: 14px;
    line-height: (26 / 14);
    letter-spacing: 0.35px;
  }
}

.footer__right {
  margin-left: auto;
}

.footer__logo {
  font-family: 'Montserrat', sans-serif;
  color: #E3E3E3;
  font-size: 40px;
  font-weight: bold;
  line-height: (77 / 44);
  margin-top: -10px;

  @include mq('sp') {
    text-align: center;
    font-size: 32px;
    line-height: (77 / 32);
    margin-top: 15px;
  }
}

.footer__copyright {
  color: #fff;
  margin-top: -1px;
  text-align: right;
  font-size: 12px;
  line-height: (15 / 12);
  letter-spacing: 0.3px;
  opacity: 0.6;
  
  @include mq('sp') {
    text-align: center;
    margin-top: -8px;
    margin-right: 12px;
  }
}


/*====================
to-top
====================*/

.to-top {
  position: fixed;
  right: 40px;
  bottom: 36px;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;

  @include mq('sp') {
    right: 16px;
    bottom: 8px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  img {
    width: 50px;
  }

}







.table {
  width: 100%;
  background: #fff;
  font-weight: bold;
  border: 1px solid #707070;
  table-layout: fixed;
  
  th,
  td {
    border: 1px solid #707070;
    padding: 0 24px;
    height: 58px;
    vertical-align: middle;
  }
  
  th {
    text-align: center;
    color: #fff;
    background: #999999;
    &:nth-child(1) {
      width: 170px;
      @include mq('sp') {
        width: 112px;
      }
    }
  }
  
  td {
    text-align: right;
  }
  
  strong {
    color: #E81919;
    line-height: 1.2;
  }
  
  span {
    font-size: 13px;
    display: block;
    margin-top: 1px;
  }
}